flows3.json
[
    {
        "id": "983cf7edbf731a72",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75a823975bb73d20",
        "type": "inject",
        "z": "983cf7edbf731a72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "3ca84d06294aeaa7"
            ]
        ]
    },
    {
        "id": "5ea6744741c85add",
        "type": "debug",
        "z": "983cf7edbf731a72",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "3ca84d06294aeaa7",
        "type": "function",
        "z": "983cf7edbf731a72",
        "name": "function 1",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "5ea6744741c85add",
                "21a0d07a0cf12b4a"
            ]
        ]
    },
    {
        "id": "21a0d07a0cf12b4a",
        "type": "ui_text",
        "z": "983cf7edbf731a72",
        "group": "adf2899d0a87d647",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time Stamp Interpretado",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "adf2899d0a87d647",
        "type": "ui_group",
        "name": "Fecha",
        "tab": "e21140a146049967",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e21140a146049967",
        "type": "ui_tab",
        "name": "Flow 3",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]